{
    "discord": {
        "token": "ABCD",
        "botId": "1234",
        "intents": [
            "Guilds",
            "GuildVoiceStates",
            "GuildMessages",
            "DirectMessages",
            "MessageContent",
            "GuildScheduledEvents",
            "GuildMembers"
        ],
        "partials": [1],
        "adminId": ""
    },
    "spotify": {
        "refreshToken": "ABCDEFG12345",
        "clientSecret": "ABC123",
        "clientId": "ABC123",
        "credentialUpdateInterval": 1790000
    },
    "statusPort": 8080,
    "options": {
        "maxSearchPages": 45,
        "embedColor": "#34EB3A",
        "defaultCommandPrefix": "!",
        "maxLeaderboardSlots": 20,
        "maxHistorySlots": 20,
        "maxGuildFavoriteSongs": 10,
        "adminRestartPhrase": "sgbrestart",
        "logReadyMessage": true
    },
    "randomTrackTerms": ["the", "if", "who", "we", "where", "why", "an", "he", "she", "you", "love", "to", "is", "in", 
        "there", "what", "when", "how", "too", "for", "far", "him", "his", "hers", "her", "song"]
}